<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">HAR Share</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/dashboard/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a id="home-nav" class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="profile-nav" class="nav-link" href="#">
                            <span data-feather="user"></span>
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="upload-nav" class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Upload
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="reports-nav" class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>