<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">HAR Share</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/dashboard/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a id="basics-nav" class="nav-link active" href="#">
                            <span data-feather="bar-chart"></span>
                            Basic Information
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="timings-nav" class="nav-link" href="#">
                            <span data-feather="clock"></span>
                            Timings Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="headers-nav" class="nav-link" href="#">
                            <span data-feather="database"></span>
                            Headers Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="data-nav" class="nav-link" href="#">
                            <span data-feather="map-pin"></span>
                            Data Visualization
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>