<h2 class="page-selection">Basic Information</h2>

<div class="container-md">
    <div class="row align-items-center justify-content-md-center">
        <div class="col-md-4">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Statistic</th>
                        <th scope="col">#</th>   
                    </tr>
                </thead>
                <tbody id="basic-counts-body"></tbody>
            </table>
        </div>

        <div class="col-md-6">
            <canvas id="lifespanChart"></canvas>
        </div>
    </div>

    <div class="row mt-5 align-items-center justify-content-md-center">
        <div class="col-md-5">
            <canvas id="responsesChart"></canvas>
        </div>

        <div class="col-md-5">
            <canvas id="requestsChart"></canvas>
        </div>
    </div>
</div>