<%- include('./partials/header') %>

<h1>Only an admin can access this information. You are now logged out</h1>
<a href="/users/login" class="btn btn-secondary">Login</a>

<%- include('./partials/footer') %>