<%- include('./partials/header') %>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">HAR Share</a>
</nav>

<section>
    <div class="container pt-5">
        <div class="row justify-content-md-center">
            <div class="brand-lg">
                <img src="/img/logo.png" alt="logo">
            </div>
        </div>

        <div class="row justify-content-md-center">
            <h1>Welcome to HAR Share.</h1>
        </div>

        <div class="row justify-content-md-center mt-2">
            <h4 class="font-italic">* You can't spell share without har *</h4>
        </div>

        <div class="row justify-content-md-center mt-5">
            <div class="col-lg-8 text-center">
                <p>Har Share is a crowdsourcing initiative aiming to collect valuable data.</p>
                <p>Anyone can help by uploading har files from their browsing sessions.</p>
                <p>We value your privacy and we make sure not to keep any of your personal data.</p>
                <p>Register now and help us make the internet faster!</p>
            </div>  
        </div>

        <div class="row justify-content-md-center mt-5">
            <div class="col-lg-3">
                <a href="/users/login" class="btn btn-dark btn-block">Login</a>
            </div>
            <div class="col-lg-3">
                <a href="/users/register" class="btn btn-dark btn-block">Register</a>
            </div>
        </div>
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%- include('./partials/footer') %>